---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import HeaderCard from "../components/headerCard/HeaderCard.astro";
import astropodConfig from "../../.astropod/astropod.config.json";

const { title, explicit, pubDate, cover, description } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");

let cover_url = cover ? cover : astropodConfig.cover;

---

<BaseLayout title={`${title} - ${astropodConfig.name}`} description={description} image={cover}>
<HeaderCard title={title} subtitle={astropodConfig.name} cover={cover} explicit={explicit} />

  <main class="md:flex md:justify-center">

    <article class="card prose min-w-full prose-img:mx-auto prose-p:mt-0 prose-ul:mt-0 prose-ol:mt-0 mt-6">

  <div class="hero-content flex-row p-0">
      <img src={cover_url} class="rounded-md w-[4.5rem] h-[4.5rem] md:w-40 md:h-40" />
    <div class="grow w-full overflow-auto">
        <h2 class="font-semibold">
          {title}
        </h2>
    </div>
  </div>

      <slot />
    </article>
  </main>
</BaseLayout>