---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import HeaderCard from "../components/headerCard/HeaderCard.astro";
import astropodConfig from "../../.astropod/astropod.config.json";

const { title, explicit, pubDate, cover, description } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");

let cover_url = cover ? cover : astropodConfig.cover;

---

<BaseLayout title={`${title} - ${astropodConfig.name}`} description={description} image={cover}>
<HeaderCard title={astropodConfig.name} explicit={explicit} />

<hr class="my-3 border-base-content opacity-[.15]" />

  <main class="md:flex md:justify-center">

    <article class="card prose min-w-full prose-p:mt-0 prose-ul:mt-0 prose-ol:mt-0 mt-6 p-4">

      <img src={cover_url} class="rounded-md w-40 h-40 my-0" />

      <h2 class="font-semibold my-4">
          {title}
        </h2>
      
      

      <slot />
    </article>
  </main>
</BaseLayout>